$bg-color: yellow;
$border-color: red;
body{
  margin: 0;
  font-family: Montserrat;
  background-color: #fafafa;
}
.app {
  font-family: helvetica, arial, sans-serif; 
  padding: 2em;
  border: 5px solid $border-color;

  p {
    background-color: $bg-color;
  }
}
